/* functional styling / chassis */
.dzs-tabs {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px; }
  .dzs-tabs .dzs-tab-tobe {
    display: none; }
  .dzs-tabs .goto-prev-tab, .dzs-tabs .goto-next-tab {
    cursor: pointer; }
  .dzs-tabs .tabs-menu {
    width: auto; }
    .dzs-tabs .tabs-menu .tab-menu-con {
      display: inline-block; }
      .dzs-tabs .tabs-menu .tab-menu-con .tab-menu {
        display: inline-block;
        padding: 3px 6px;
        text-align: center;
        cursor: pointer; }
        .dzs-tabs .tabs-menu .tab-menu-con .tab-menu > i {
          display: inline-block;
          margin-right: 10px; }
      .dzs-tabs .tabs-menu .tab-menu-con .tab-menu-content-con {
        display: none; }
        .dzs-tabs .tabs-menu .tab-menu-con .tab-menu-content-con .tab-menu-content {
          display: none;
          text-align: left; }
    .dzs-tabs .tabs-menu .tab-menu-con.tab-disabled {
      opacity: 0.5;
      pointer-events: none; }
  .dzs-tabs .tabs-content {
    position: relative;
    width: 100%;
    height: 0;
    transition-property: height;
    transition-duration: 0.3s;
    -moz-transition-property: height;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.3s;
    -o-transition-property: height;
    -o-transition-duration: 0.3s;
    -ms-transition-property: height;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .dzs-tabs .tabs-content .tab-content {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition-property: top, left, opacity, visibility;
      transition-duration: 0.3s;
      -moz-transition-property: top, left, opacity, visibility;
      -moz-transition-duration: 0.3s;
      -webkit-transition-property: top, left, opacity, visibility;
      -webkit-transition-duration: 0.3s;
      -o-transition-property: top, left, opacity, visibility;
      -o-transition-duration: 0.3s;
      -ms-transition-property: top, left, opacity, visibility;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .dzs-tabs .tabs-content div.tab-content.active {
      top: 0;
      left: 0;
      opacity: 1;
      visibility: visible; }
  .dzs-tabs * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.dzs-tabs.tab-menu-content-con---no-padding .tabs-menu .tab-menu-con .tab-menu-content-con {
  padding: 0 !important; }

.dzs-tabs.transition-none .tabs-content {
  transition-property: none;
  transition-duration: 0s;
  -moz-transition-property: none;
  -moz-transition-duration: 0s;
  -webkit-transition-property: none;
  -webkit-transition-duration: 0s;
  -o-transition-property: none;
  -o-transition-duration: 0s;
  -ms-transition-property: none;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  .dzs-tabs.transition-none .tabs-content .tab-content {
    transition-property: none;
    transition-duration: 0s;
    -moz-transition-property: none;
    -moz-transition-duration: 0s;
    -webkit-transition-property: none;
    -webkit-transition-duration: 0s;
    -o-transition-property: none;
    -o-transition-duration: 0s;
    -ms-transition-property: none;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }

.tabs-left.transition-slide > .tabs-content > .tab-content, .tabs-right.transition-slide > .tabs-content > .tab-content {
  top: 100%; }

.tabs-top.transition-slide > .tabs-content > .tab-content, .tabs-bottom.transition-slide > .tabs-content > .tab-content {
  left: 100%; }

.dzs-tabs.tabs-left .tabs-menu, .dzs-tabs.tabs-right .tabs-menu {
  float: left; }
  .dzs-tabs.tabs-left .tabs-menu .tab-menu-con, .dzs-tabs.tabs-right .tabs-menu .tab-menu-con {
    display: block; }
.dzs-tabs.tabs-left .tabs-content, .dzs-tabs.tabs-right .tabs-content {
  overflow: hidden;
  width: auto; }

.dzs-tabs.tabs-right .tabs-menu {
  float: right; }

.dzs-tabs.is-toggle .tabs-menu {
  width: 100%; }
  .dzs-tabs.is-toggle .tabs-menu .tab-menu-con {
    display: block;
    width: 100%; }
    .dzs-tabs.is-toggle .tabs-menu .tab-menu-con .tab-menu-content-con {
      width: 100%;
      overflow: hidden;
      display: block;
      transition-property: height;
      transition-duration: 0.3s;
      -moz-transition-property: height;
      -moz-transition-duration: 0.3s;
      -webkit-transition-property: height;
      -webkit-transition-duration: 0.3s;
      -o-transition-property: height;
      -o-transition-duration: 0.3s;
      -ms-transition-property: height;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
      .dzs-tabs.is-toggle .tabs-menu .tab-menu-con .tab-menu-content-con .tab-menu-content {
        width: 100%;
        display: block; }
.dzs-tabs.is-toggle .tabs-content {
  display: none; }

.dzs-tabs:after {
  content: "";
  clear: both;
  display: block; }

/* ---- estethic styling */
.dzs-tabs.skin-default .tabs-menu .tab-menu-con .tab-menu {
  padding: 6px 6px;
  border-bottom: 3px solid transparent;
  transition-property: border-color;
  transition-duration: 0.3s;
  -moz-transition-property: border-color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: border-color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.dzs-tabs.skin-default .tabs-menu .tab-menu-con.active .tab-menu {
  border-bottom: 3px solid #cb1919; }
.dzs-tabs.skin-default .tabs-menu .tab-menu-con.active .tab-menu-content-con {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.dzs-tabs.skin-default .tabs-content {
  border-top: 1px solid rgba(200, 200, 200, 0.2);
  padding-top: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .dzs-tabs.skin-default .tabs-content .tab-content {
    top: 10px; }
  .dzs-tabs.skin-default .tabs-content .tab-content.active {
    top: 10px; }

/* ---- skin-blue */
.dzs-tabs.skin-blue > .tabs-menu .tab-menu-con .tab-menu {
  padding: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #eee;
  transition-property: background, color;
  transition-duration: 0.3s;
  -moz-transition-property: background, color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: background, color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: background, color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: background, color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.dzs-tabs.skin-blue > .tabs-menu .tab-menu-con:last-child .tab-menu {
  border-right: 0px solid rgba(0, 0, 0, 0.2); }
.dzs-tabs.skin-blue > .tabs-menu .tab-menu-con.active .tab-menu {
  background-color: #05abe0;
  color: #fafafa; }
.dzs-tabs.skin-blue > .tabs-menu .tab-menu-con.active .tab-menu-content-con {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.dzs-tabs.skin-blue .tabs-content {
  padding-top: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .dzs-tabs.skin-blue .tabs-content .tab-content {
    top: 20px; }
  .dzs-tabs.skin-blue .tabs-content .tab-content.active {
    top: 20px; }

.dzs-tabs.is-toggle.skin-blue .tabs-menu .tab-menu-con .tab-menu {
  width: 100%;
  text-align: left;
  padding-left: 45px;
  position: relative;
  border-right: 0px solid rgba(0, 0, 0, 0.1); }
.dzs-tabs.is-toggle.skin-blue .tabs-menu .tab-menu-con .tab-menu:before, .dzs-tabs.is-toggle.skin-blue .tabs-menu .tab-menu-con .tab-menu:after {
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
  top: 10px;
  left: 11px;
  background-image: url(img/skin_blue_plus.png);
  background-repeat: none;
  background-position: center center;
  background-size: cover; }
.dzs-tabs.is-toggle.skin-blue .tabs-menu .tab-menu-con .tab-menu:after {
  background-image: url(img/skin_blue_minus.png);
  opacity: 0;
  visibility: hidden; }
.dzs-tabs.is-toggle.skin-blue .tabs-menu .tab-menu-con.active .tab-menu:after {
  opacity: 1;
  visibility: visible; }

/* ---- skin-blue END */
/* ---- skin-chef */
.dzs-tabs.skin-chef .tabs-menu .tab-menu-con .tab-menu {
  padding: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #eee;
  transition-property: background, color, border;
  transition-duration: 0.3s;
  -moz-transition-property: background, color, border;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: background, color, border;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: background, color, border;
  -o-transition-duration: 0.3s;
  -ms-transition-property: background, color, border;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.dzs-tabs.skin-chef .tabs-menu .tab-menu-con:last-child .tab-menu {
  border-right: 0px solid rgba(0, 0, 0, 0.2); }
.dzs-tabs.skin-chef .tabs-menu .tab-menu-con.active .tab-menu {
  background-color: #d1b97e;
  color: #fafafa; }
.dzs-tabs.skin-chef .tabs-menu .tab-menu-con.active .tab-menu-content-con {
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dzs-tabs.skin-chef .tabs-content {
  padding-top: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .dzs-tabs.skin-chef .tabs-content .tab-content {
    top: 20px; }
  .dzs-tabs.skin-chef .tabs-content .tab-content.active {
    top: 20px; }

.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con .tab-menu {
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  position: relative;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
  margin-bottom: 1px; }
  .dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con .tab-menu > .plus-sign {
    position: absolute;
    top: 21px;
    left: 10px; }
    .dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con .tab-menu > .plus-sign circle, .dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con .tab-menu > .plus-sign rect {
      transform-origin: 50% 50%;
      transition-property: all;
      transition-duration: 0.5s;
      -moz-transition-property: all;
      -moz-transition-duration: 0.5s;
      -webkit-transition-property: all;
      -webkit-transition-duration: 0.5s;
      -o-transition-property: all;
      -o-transition-duration: 0.5s;
      -ms-transition-property: all;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active .tab-menu {
  background-color: #d1b97e;
  border: 1px solid transparent; }
.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active .plus-sign circle {
  fill: #f5f5f5; }
.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active .plus-sign rect {
  fill: #d1b97e; }
.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active .plus-sign .rect1 {
  transform: scaleY(0); }
.dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active > .tab-menu-content-con {
  border: 1px solid #eeeeee;
  margin-bottom: 1px; }
  .dzs-tabs.is-toggle.skin-chef .tabs-menu .tab-menu-con.active > .tab-menu-content-con > .tab-menu-content {
    padding: 20px; }

/* ---- skin-move */
.dzs-tabs.skin-move .tabs-menu {
  margin-bottom: 10px; }
  .dzs-tabs.skin-move .tabs-menu .tab-menu-con {
    border: 1px solid #7b7b7b;
    color: #7b7b7b;
    margin-right: 12px; }
    .dzs-tabs.skin-move .tabs-menu .tab-menu-con .tab-menu {
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      transition-property: background-color, color, padding;
      transition-duration: 0.3s;
      -moz-transition-property: background-color, color, padding;
      -moz-transition-duration: 0.3s;
      -webkit-transition-property: background-color, color, padding;
      -webkit-transition-duration: 0.3s;
      -o-transition-property: background-color, color, padding;
      -o-transition-duration: 0.3s;
      -ms-transition-property: background-color, color, padding;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .dzs-tabs.skin-move .tabs-menu .tab-menu-con:last-child .tab-menu {
    border-right: 0px solid rgba(0, 0, 0, 0.2); }
  .dzs-tabs.skin-move .tabs-menu .tab-menu-con.active {
    border: 1px solid #59c8ef;
    color: #59c8ef; }
    .dzs-tabs.skin-move .tabs-menu .tab-menu-con.active .tab-menu-content-con {
      padding: 30px 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
      .dzs-tabs.skin-move .tabs-menu .tab-menu-con.active .tab-menu-content-con .tab-menu-content {
        padding: 0 15px; }
.dzs-tabs.skin-move .tabs-content {
  color: #cbcbcb;
  border: 1px solid #59c8ef; }
  .dzs-tabs.skin-move .tabs-content .tab-content {
    padding: 25px 15px; }
.dzs-tabs.skin-move .color-highlight {
  color: #59c8ef; }

.dzs-tabs.skin-move.tabs-left .tabs-menu {
  margin-right: 10px; }
  .dzs-tabs.skin-move.tabs-left .tabs-menu .tab-menu-con {
    margin-right: 0px;
    margin-bottom: 12px; }
.dzs-tabs.skin-move.tabs-left .tabs-content {
  border: 1px solid #59c8ef; }
.dzs-tabs.skin-move.tabs-left .tab-menu-con .tab-menu {
  text-align: left; }

.dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con {
  margin-right: 0px;
  margin-bottom: 12px;
  width: 100%; }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con .tab-menu {
    width: 100%;
    text-align: left;
    position: relative;
    border-right: 0px solid rgba(0, 0, 0, 0.1); }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con .tab-menu:before, .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con .tab-menu:after {
    width: 10px;
    height: 10px;
    position: absolute;
    content: "+";
    top: 9px;
    right: 8px;
    background-repeat: none;
    background-position: center center;
    background-size: cover; }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con .tab-menu:after {
    opacity: 0;
    visibility: hidden;
    content: "-"; }
.dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con.active {
  color: #cbcbcb; }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con.active .tab-menu {
    padding-left: 20px;
    color: #59c8ef; }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con.active .tab-menu:before {
    opacity: 0;
    visibility: hidden; }
  .dzs-tabs.is-toggle.skin-move .tabs-menu .tab-menu-con.active .tab-menu:after {
    opacity: 1;
    visibility: visible; }

/* ---- skin-melbourne */
.dzs-tabs.skin-melbourne .tabs-menu {
  margin-bottom: 10px; }
  .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con {
    border: 1px solid #7b7b7b;
    color: #7b7b7b;
    margin-right: 12px; }
    .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con .tab-menu {
      padding: 10px 15px;
      width: 100%;
      background-color: transparent;
      transition-property: background-color, color, padding;
      transition-duration: 0.3s;
      -moz-transition-property: background-color, color, padding;
      -moz-transition-duration: 0.3s;
      -webkit-transition-property: background-color, color, padding;
      -webkit-transition-duration: 0.3s;
      -o-transition-property: background-color, color, padding;
      -o-transition-duration: 0.3s;
      -ms-transition-property: background-color, color, padding;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con:last-child .tab-menu {
    border-right: 0px solid rgba(0, 0, 0, 0.2); }
  .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con.active {
    border: 1px solid #a59c8e;
    color: #a59c8e; }
    .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con.active .tab-menu-content-con {
      padding: 30px 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
      .dzs-tabs.skin-melbourne .tabs-menu .tab-menu-con.active .tab-menu-content-con .tab-menu-content {
        padding: 0 15px; }
.dzs-tabs.skin-melbourne .tabs-content {
  color: #cbcbcb;
  border: 1px solid #a59c8e; }
  .dzs-tabs.skin-melbourne .tabs-content .tab-content {
    padding: 25px 15px; }
.dzs-tabs.skin-melbourne .color-highlight {
  color: #a59c8e; }

.dzs-tabs.skin-melbourne.tabs-left .tabs-menu {
  margin-right: 10px; }
  .dzs-tabs.skin-melbourne.tabs-left .tabs-menu .tab-menu-con {
    margin-right: 0px;
    margin-bottom: 12px; }
.dzs-tabs.skin-melbourne.tabs-left .tabs-content {
  border: 1px solid #a59c8e; }
.dzs-tabs.skin-melbourne.tabs-left .tab-menu-con .tab-menu {
  text-align: left; }

.dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con {
  margin-right: 0px;
  margin-bottom: 12px;
  width: 100%; }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con .tab-menu {
    width: 100%;
    text-align: left;
    position: relative;
    border-right: 0px solid rgba(0, 0, 0, 0.1); }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con .tab-menu:before, .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con .tab-menu:after {
    width: 10px;
    height: 10px;
    position: absolute;
    content: "+";
    top: 9px;
    right: 8px;
    background-repeat: none;
    background-position: center center;
    background-size: cover; }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con .tab-menu:after {
    opacity: 0;
    visibility: hidden;
    content: "-"; }
.dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con.active {
  color: #cbcbcb; }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con.active .tab-menu {
    color: #a59c8e; }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con.active .tab-menu:before {
    opacity: 0;
    visibility: hidden; }
  .dzs-tabs.is-toggle.skin-melbourne .tabs-menu .tab-menu-con.active .tab-menu:after {
    opacity: 1;
    visibility: visible; }

.dzs-tabs.skin-box .tabs-menu {
  position: relative;
  z-index: 8; }
  .dzs-tabs.skin-box .tabs-menu .tab-menu-con {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 0px solid rgba(0, 0, 0, 0.3);
    background: #fff;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -ms-transition-property: all;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .dzs-tabs.skin-box .tabs-menu .tab-menu-con .tab-menu {
      padding: 10px 14px;
      color: #111; }
  .dzs-tabs.skin-box .tabs-menu .tab-menu-con:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }
  .dzs-tabs.skin-box .tabs-menu .tab-menu-con.active {
    border-bottom: 1px solid #fff; }
.dzs-tabs.skin-box .tabs-content {
  margin-top: -1px; }
  .dzs-tabs.skin-box .tabs-content .tab-content {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff; }

.dzs-tabs.skin-box.is-toggle .tab-menu-con, .dzs-tabs.skin-box.is-toggle .tab-menu-con.active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px; }
  .dzs-tabs.skin-box.is-toggle .tab-menu-con .tab-menu, .dzs-tabs.skin-box.is-toggle .tab-menu-con.active .tab-menu {
    padding-left: 30px;
    position: relative;
    width: 100%;
    text-align: left; }
  .dzs-tabs.skin-box.is-toggle .tab-menu-con .tab-menu:before, .dzs-tabs.skin-box.is-toggle .tab-menu-con.active .tab-menu:before {
    content: "+";
    position: absolute;
    left: 12px;
    top: 10px;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-family: Courier New, Arial;
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.2s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -ms-transition-property: all;
    -ms-transition-duration: 0.2s;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .dzs-tabs.skin-box.is-toggle .tab-menu-con .tab-menu-content-con, .dzs-tabs.skin-box.is-toggle .tab-menu-con.active .tab-menu-content-con {
    transition-property: height;
    transition-duration: 0.5s;
    -moz-transition-property: height;
    -moz-transition-duration: 0.5s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.5s;
    -o-transition-property: height;
    -o-transition-duration: 0.5s;
    -ms-transition-property: height;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out-quart;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
    .dzs-tabs.skin-box.is-toggle .tab-menu-con .tab-menu-content-con .tab-menu-content, .dzs-tabs.skin-box.is-toggle .tab-menu-con.active .tab-menu-content-con .tab-menu-content {
      padding: 10px 15px 15px;
      color: #111; }
.dzs-tabs.skin-box.is-toggle .tab-menu-con.active .tab-menu:before {
  transform: rotate(43deg);
  -webkit-transform: rotate(45deg); }

.dzs-tabs.skin-qcre .tabs-menu {
  position: relative;
  z-index: 8; }
  .dzs-tabs.skin-qcre .tabs-menu .plus-sign {
    display: none; }
  .dzs-tabs.skin-qcre .tabs-menu .tab-menu-con {
    border: 1px solid #DDDDDD;
    border-left: 1px solid transparent;
    background: #fff;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -ms-transition-property: all;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .dzs-tabs.skin-qcre .tabs-menu .tab-menu-con .tab-menu {
      padding: 10px 14px;
      color: #999999;
      font-family: "Open Sans", arial, serif; }
  .dzs-tabs.skin-qcre .tabs-menu .tab-menu-con:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }
  .dzs-tabs.skin-qcre .tabs-menu .tab-menu-con.active {
    border-bottom: 1px solid #e74c3c;
    border-left: 1px solid #e74c3c;
    border-top: 1px solid #e74c3c;
    border-right: 1px solid #e74c3c; }
    .dzs-tabs.skin-qcre .tabs-menu .tab-menu-con.active .tab-menu {
      background-color: #e74c3c;
      color: #FFFFFF; }
.dzs-tabs.skin-qcre .tabs-content {
  margin-top: -1px; }
  .dzs-tabs.skin-qcre .tabs-content .tab-content {
    padding: 20px;
    border: 1px solid #DDDDDD;
    background-color: #fff; }

.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con {
  border: 1px solid transparent; }
  .dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con .tab-menu {
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 39px;
    position: relative;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    margin-bottom: 1px; }
    .dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con .tab-menu > .plus-sign {
      display: inline-block;
      position: absolute;
      top: 16px;
      left: 15px; }
      .dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con .tab-menu > .plus-sign circle, .dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con .tab-menu > .plus-sign rect {
        transform-origin: 50% 50%;
        transition-property: all;
        transition-duration: 0.5s;
        -moz-transition-property: all;
        -moz-transition-duration: 0.5s;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.5s;
        -o-transition-property: all;
        -o-transition-duration: 0.5s;
        -ms-transition-property: all;
        -ms-transition-duration: 0.5s;
        -ms-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
  .dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con .tab-menu-content {
    padding: 20px; }
.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con.active .tab-menu {
  background-color: #e74c3c;
  border: 1px solid transparent; }
.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con.active .plus-sign circle {
  fill: #f5f5f5; }
.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con.active .plus-sign rect {
  fill: #e74c3c; }
.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con.active .plus-sign .rect1 {
  transform: scaleY(0); }
.dzs-tabs.skin-qcre.is-toggle .tabs-menu .tab-menu-con.active > .tab-menu-content-con {
  border: 1px solid #DDDDDD;
  margin-bottom: 1px; }

.bg-image-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 300px; }

.waiting-read-more-click {
  display: none; }

/*# sourceMappingURL=dzstabsandaccordions.css.map */
