
@mixin apply_transition($transition-property, $transition-duration, $transition-timing) {
transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
-ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}
@mixin boxsizing() {
-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}

$mainclass : ".advancedscroller";

$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;

.advancedscroller{

  @include boxsizing();
  *{

    @include boxsizing();
  }

  >.items{
    display: none;


  }
}

/* -- functional styling */
.advancedscroller-con{ position:relative; width:100%;
}

.advancedscroller{
  position:relative; width:100%;
  min-height: 50px;

  margin-bottom: 10px;

  /* ==== hide the images until loaded */
  .item-tobe{
    display: none; -webkit-backface-visibility: hidden;
    position:relative;
  }

  .item-tobe, .item{

      .feed-description{
        display: none;
      }



  }

  .item{
    .description-wrapper{
      position: absolute;
      bottom: 0;
      right:0;

      width: 100%;
      max-width: 400px;



      .description-wrapper--icon-con{
        width: 40px;
        height:40px;
        position: absolute;
        bottom: 0;
        right:0;
        background-color: rgba(0,0,0,.2);

        cursor: pointer;
        $transition-property: background;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;

        @include apply_transition($transition-property, $transition-duration, $transition-timing);

        >i{
          font-size: 18px;
          color: #FFFFFF;
          font-family: "FontAwesome", arial, serif;

          position: absolute;

          top:50%; left:50%;

          transform: translate(-50%,-50%);

          opacity: 1;



          $transition-property: all;
          $transition-duration: 0.3s;
          $transition-timing: ease-out;

          @include apply_transition($transition-property, $transition-duration, $transition-timing);

        }

        >i.fa-times{
          opacity:0;

          font-size: 18px;
        }
      }


      .description-wrapper--text{
        white-space: normal;


        background-color: #FFFFFF;
        padding: 30px;

        line-height: 1.8;

        position: absolute;
        right: 40px;
        bottom:0;

        width : calc(100% - 40px);

        opacity: 0;
        visibility: hidden;

        $transition-property: all;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;

        @include apply_transition($transition-property, $transition-duration, $transition-timing);

        h4{
          font-family: "Lato",arial, serif;
          font-size: 25px;
          color: #212121;

          margin: 7px 0 17px;
          font-weight: 900;
          line-height: 1;

        }

        p{

          line-height: 1.92;
          margin-bottom: 2px;
          color: #444444;
        }


      }
    }
    .description-wrapper:hover{

      .description-wrapper--icon-con{
        background-color: #e74c3c;
      }
    }
    .description-wrapper.active{


      .description-wrapper--text{
        opacity: 1;
        visibility: visible;
      }
      .description-wrapper--icon-con{
        background-color: #e74c3c;
      }

      i.fa-info{
        opacity: 0;
        filter: blur(10px);
        -webkit-filter: blur(10px);
      }
      i.fa-times{
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
      }
    }
  }

  .loaded .item{
    position: relative;
  }
  ul{ display:block; list-style:none; padding:0; margin:0;
  }

  ul > li{ display:block; list-style:none; padding:0; margin:0;
  }

  ul:after{ content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear:both;
  }


  $transition-property: height;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  .thumbsCon{ display:block; overflow:hidden; position:relative;
    height: auto;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  .bulletsCon{ display:block; position:relative; z-index:4;
  }

  .bulletsCon:after{
    display:block; content: " ";
    clear: both;
  }




  $transition-property: left;
  $transition-duration: 0.9s;
  $transition-timing: ease-out;
   .thumbsClip{
    position:relative;
     white-space: nowrap;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.1);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.1);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.1);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.1);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.1); /* easeOutBack */
  }

  .thumbsClip > *{
//    display:block;
//    float:left;

    display: inline-block;
    float:none;
    vertical-align: top;
  }



  .the-thumb-con{
    position: relative;
  }
  .item .the-thumb{
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .item p:empty{
    display: none;
  }

  .item.needs-loading:not(.loaded){
    height: 10px;
  }
}

.advancedscroller.with-shadow{
  margin-bottom: 35px;
}
.advancedscroller.item-padding-30{

  .thumbsClip > .item{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.advancedscroller.with-shadow:before{
  content: "";
  position: absolute;top:100%; left:0;
  width: 100%;
  height: 33px;
  background-image: url(img/shadow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.advancedscroller.no-need-for-nav{
  .bulletsCon{ display:none;
  }
  .arrowsCon{ display:none;
  }
}



.advancedscroller:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

.advancedscroller.from-zoomfolio{


  overflow: visible;
  .items{
    display: none;
  }
}

img.fullwidth{ width:100%; display:block;
    }
/* -- ----------- --------
--- estethic styling
*/


@-webkit-keyframes preloader-semicircles-tween {
  0% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
  50% {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
  100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}
@keyframes preloader-semicircles-tween {
  0% {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
  50% {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
  100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}

$border-visible:1px solid rgba(0,0,0,0.3);
$border-invisible:1px solid rgba(0,0,0,0);

.advancedscroller{


  .preloader, .preloader-squares1{

    width:128px;
    height:40px;
    background: transparent url(img/preloader.gif) center center no-repeat;
    margin-left: -64px; margin-top: -20px;
    position: absolute;
    top:50%; left:50%;
  }


  .preloader-semicircles{
    width:30px;
    height:30px;
    background:rgba(230,230,230,0.9);
    border-radius:50px;


    position:absolute;
    top:50%;
    left:50%;

//    z-index: 5555;

    margin-left: -15px;
    margin-right: -15px;

    animation: preloader-semicircles-tween 1.4s infinite linear;
    -webkit-animation: preloader-semicircles-tween 1.4s infinite linear;
  }
  .preloader-semicircles:after{
    position:absolute;
    width:50px;
    height:50px;
    border-top:10px solid rgba(200,200,200,0.5);
    border-bottom:10px solid rgba(200,200,200,0.5);
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-radius:50px;
    content:'';
    top:-20px;
    left:-20px;
    box-sizing: content-box;
  }

  .thumbsClip > *.currItem{
  }
  .bulletsCon{ height:20px; text-align:center; margin:15px auto;
    cursor: pointer;
  }

  .arrowsCon{
//    z-index: 7;
//    position: absolute;
  }

  $transition-property: border, padding, opacity, visibility;
  $transition-duration: 0.5s;
  $transition-timing: ease-out;
  .thumbsClip > *{
    padding:0px 10px;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  .thumbsClip > *.last-in-row{
    border-right:$border-invisible;
  }

  .thumbsClip > *:last-child{
    border-right:$border-invisible;
  }



  $transition-property: opacity;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  $size_arrow: 30px;
   .arrowsCon > .arrow-left,  .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:transparent;
    background-image: url('img/arrow-left.png');
    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left:5px;
    top:45%;
    margin-top:- ($size_arrow/2);
    cursor: pointer;
    opacity:0.69;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
   .arrowsCon > .arrow-right{
    background-image: url('img/arrow-right.png');
    left:auto;
    right:5px;
    top:45%;
  }
   .arrowsCon > .arrow-left:hover,  .arrowsCon > .arrow-right:hover{
    opacity:1;
  }


  $transition-property: background;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  $bulletsize: 10px;
   .bulletsCon span.bullet{
     width:$bulletsize; height:$bulletsize; background-repeat:no-repeat; background-position: 0 0%; background-color:transparent;
    background-image: url(img/bullet.png); display:inline-block;
    margin-right:3px;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }

   .bulletsCon span.bullet:hover{
    background-position: 0 100%;
  }
   .bulletsCon span.bullet.active{
    background-position: 0 100%;
  }
   .name{
    text-align:center;
    margin-top:10px;
  }
   .price{
    text-align:center;
    margin-top:5px;
    font-weight:bold;
  }
   .price > span{
    display:inline-block;
  }
   .addtocart-con{
    text-align:center;
    margin-top:10px;
  }
   .addtocart-con > .button-addtocart{
    margin-top:0px;
  }

}




.advancedscroller.transition-fade .thumbsClip > *{
  opacity: 0;
  visibility: hidden;
}

.advancedscroller.transition-testimonials_transition_1{

  .testimonial-col-name{
    position: relative;
    $transition-property: all;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    transform: translate(0,50%);
  }
  .testimonial-col-quote{
    position: relative;
    $transition-property: all;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);


    transform: translate(50%,0);
  }

  .thumbsClip > *{
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;


  }

}

.testimonial-slide-con{
  padding: 100px 30px;
}
.advancedscroller.transition-testimonials_transition_1 .thumbsClip > *.currItem{
  opacity: 1;
  visibility: visible;


  .testimonial-col-name,.testimonial-col-quote{
    transform: translate(0%,0);
  }
}

.advancedscroller.transition-wipeoutandfade{




  .thumbsClip{

    $transition-property: none;
    $transition-duration: 0s;
    $transition-timing: linear;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    white-space: nowrap;

    > *{
      opacity: 0;
      visibility: hidden;
      width:0;
      position: relative;



      .wipeout-wrapper{
        overflow: hidden;
        position: relative;
        width: 100%;

        top:0;
        left:0;

        .wipeout-wrapper-inner{
          position: relative;
        }
      }

      .wipeout-wrapper{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        top:0;
        left:0;

        .wipeout-wrapper-inner{
          position: relative;
          width: 100%;
          height: 100%;

          > .vplayer{

            width: 100%!important;
            height: 100%;
          }
        }
      }

      .wipeout-wrapper.is-video.wipeout-wrapper-transitioning{

        .wipeout-wrapper-inner{

          > .vplayer{

//            width: auto!important;
//            height: 100%;
          }
        }
      }
    }

  }
}
.advancedscroller.transition-fade .thumbsClip > *.currItem,.advancedscroller.transition-wipeoutandfade .thumbsClip > *.currItem,.advancedscroller.transition-testimonials_transition_1 .thumbsClip > *.currItem{
  opacity: 1;
  visibility: visible;
}

        
.advancedscroller.swipe-enabled{
            cursor: move;
            cursor: -moz-grab;
            cursor: grab;
            cursor: url(img/openhand.cur) 4 4, move;
            }

$transition-property: left;
$transition-duration: 0s;
$transition-timing: linear;
.advancedscroller.swipe-enabled.closedhand {
            cursor: url(img/closedhand.cur) 4 4, move;
  .thumbsClip{
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
            }
.advancedscroller.center-v{
  .thumbsCon{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
  }
}


.advancedscroller.mode-onlyoneitem{
  .thumbsCon{
    .thumbsClip{
      > li{
        width: 100%;
        border-right: 0;
      }
    }
  }

  .vplayer{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.advancedscroller.islastpage{
  .thumbsClip > *.last-in-row{
    border-right:$border-visible;
  }
  .thumbsClip > *:last-child{
    border-right:$border-invisible;
  }
}

div.button-addtocart a{
  color: #fff;
}



.button-addtocart{
	font-family:Helvetica, Arial, sans-serif; background:rgba(0,0,0,0.5); padding:8px 15px; font-size:12px; text-align:center; 
	
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 4px 10px;
  text-decoration: none;
  border-radius:3px;
color:#fafafa; 
border:1px solid rgba(0,0,0,0.5);
background: rgb(186,43,0);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhMmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(186,43,0,1) 0%, rgba(255,26,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,43,0,1)), color-stop(100%,rgba(255,26,0,1)));
background: -webkit-linear-gradient(top, rgba(186,43,0,1) 0%,rgba(255,26,0,1) 100%);
background: -o-linear-gradient(top, rgba(186,43,0,1) 0%,rgba(255,26,0,1) 100%);
background: -ms-linear-gradient(top, rgba(186,43,0,1) 0%,rgba(255,26,0,1) 100%);
background: linear-gradient(to bottom, rgba(186,43,0,1) 0%,rgba(255,26,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba2b00', endColorstr='#ff1a00',GradientType=0 );
        font-family:  'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
font-size: 9px;
}
.old-price{
    margin-right:5px;
    color:red;
    text-decoration: line-through;
    }






.advancedscroller.mode-onlyoneitem{

  $transition-property: height;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  .thumbsClip.center-it{
    position: absolute;
    margin-left: -50%;
  }

  .thumbsClip > *{
    padding:0px;
  }


  .thumbsClip li > img{
    display: block;
  }
  .thumbsClip li > a > img{
    display: block;
  }


}

.advancedscroller.skin-default{
  .thumbsClip > *{
    border-right:1px solid rgba(0,0,0,0.3);
  }

}


.advancedscroller.skin-white{
  margin-top:10px;
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.7;
  }
  .thumbsClip > *{
    padding:10px;
    border-right: 0;
  }
  .thumbsClip > *.last-in-row{
    padding:10px;
    border-right: 0;
  }
  $size_arrow: 30px;
  .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:transparent;
    background-image: url('img/arrow-left-white.png');
    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left: auto;
    right:65px;
    top:-15px;
    margin-top:- ($size_arrow/2);
    cursor:pointer;
    opacity:0.69;
    z-index:4;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  .arrowsCon > .arrow-right{
    background-image: url('img/arrow-right-white.png');
    left:auto;
    right:45px;
    top:-15px;
  }

  .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    opacity:1;
  }
}

.advancedscroller.skin-black{
  margin-top:10px;
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.7;
  }
  .thumbsClip > *{
    padding:10px;
    border-right: 0;
  }
  .thumbsClip > *.first-in-row{
    padding:10px;
    padding-left:0px;
    border-right: 0;
  }
  .thumbsClip > *.last-in-row{
    padding:10px;
    padding-right:0px;
    border-right: 0;
  }
  $size_arrow: 30px;

  .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:transparent;
    background-image: url('img/arrow-left-black-small.png');
    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left: auto;
    right:20px;
    top:-15px;
    margin-top:- ($size_arrow/2);
    cursor:pointer;
    opacity:0.69;
    z-index:4;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }

  .arrowsCon > .arrow-right{
    background-image: url('img/arrow-right-black-small.png');
    left:auto;
    right:0px;
    top:-15px;
  }

  .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    opacity:1;
  }


}

.advancedscroller.skin-inset{
  .thumbsClip > *{
    padding:0px;
  }
  $size_arrow: 40px;
  .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:transparent;
    background-image: url('img/arrow-left-black.png');
    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left:5px;
    top:45%;
    margin-top:- ($size_arrow/2);
    cursor:pointer;
    opacity:0.69;
    z-index:4;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  .arrowsCon > .arrow-right{
    background-image: url('img/arrow-right-black.png');
    left:auto;
    right:5px;
    top:45%;
  }

  .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    opacity:1;
  }

  .transition-fade .thumbsClip > *{
    opacity: 0;
    visibility: hidden;
  }
  .transition-fade .thumbsClip > *.currItem{
    opacity: 1;
    visibility: visible;
  }

}





.advancedscroller.skin-karma-inset{
  .thumbsClip > *{
    padding:0px;
  }
  $size_arrow: 40px;
  .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:rgba(0,0,0,0.2);
    background-image: none;

    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left:0px;
    top:50%;
    margin-top:- ($size_arrow/2);
    cursor:pointer;
    z-index:4;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  .arrowsCon > .arrow-left:before,.arrowsCon > .arrow-right:before{
    position: absolute;
    content: "\f104";
    font-family: FontAwesome, arial;
    font-size: 34px;
    top:50%;
    left:50%;

    color: #FFFFFF;

    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  .arrowsCon > .arrow-right:before {
    content: "\f105";
     }
  .arrowsCon > .arrow-right{
    left:auto;
    right:0px;
    top:50%;
  }

  .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    background-color: #e74c3c;
  }

  .transition-fade .thumbsClip > *{
    opacity: 0;
    visibility: hidden;
  }
  .transition-fade .thumbsClip > *.currItem{
    opacity: 1;
    visibility: visible;
  }

}





.advancedscroller.skin-regen{
   .thumbsClip > *{
        padding:0px;
    }
  $size_arrow: 50px;

  .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat; background-color:transparent;
    background-image: url('img/arrow-round-left.png');
    width:$size_arrow;
    height: $size_arrow;
    position:absolute;
    left:15px;
    top:50%;
    margin-top:- ($size_arrow/2);
    cursor:pointer;
    opacity:0.69;
    background-size: cover;
    z-index:4;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  .arrowsCon > .arrow-right{
    background-image: url('img/arrow-round-right.png');
    left:auto;
    right:15px;
    top:50%;
  }
  .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    opacity:1;
  }


  .bulletsCon{ display:block; position:absolute; width: 100%;
    top:auto; bottom: 10px;
  }


  $transition-property: background;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  $bulletsize: 10px;

  .bulletsCon span.bullet{ width:$bulletsize; height:$bulletsize; background-repeat:no-repeat;
    border-radius:50%;
    background-image: none; display:inline-block;
    //  float:left;
    margin-right:8px;
    background-color: rgba(0,0,0,0.4);
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }


  $bulletsize: 14px;
  .bulletsCon span.bullet.active{
    background-color: rgba(0,0,0,0.7);
    width:$bulletsize; height:$bulletsize;
    position: relative;
    top:2px;
  }
}
$color_arrow_1: #e3e3e3;
$color_arrow_2: #383838;
$color_arrow_3: #00a99d;
.advancedscroller.skin-agata{

  .arrowsCon > .arrow-left,  .arrowsCon > .arrow-right{
    position:absolute;
    left:5px;
    top:45%;
  }
  .arrowsCon > .arrow-right{

    left:auto;
    right: 5px;
  }
}

$transition-property: background-color;
$transition-duration: 0.3s;
$transition-timing: ease-out;
$size_arrow: 30px;
.advancedscroller.skin-agata .arrowsCon > .arrow-left, .advancedscroller.skin-agata .arrowsCon > .arrow-right, .arrow-left.skin-agata, .arrow-right.skin-agata{

  background-position:center center; background-repeat:no-repeat;
  background-image: none;
  width:$size_arrow;
  height: $size_arrow;
  margin-top:- ($size_arrow/2);
  border-radius: 3px;
  cursor: pointer;
  background-color: $color_arrow_2;
  opacity: 1;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

}

.advancedscroller.skin-agata .arrowsCon > .arrow-left:before, .arrow-left.skin-agata:before{

  content: "";
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px solid transparent;

  border-right:8px solid $color_arrow_1;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -6px;
}
.advancedscroller.skin-agata .arrowsCon > .arrow-right:before, .arrow-right.skin-agata:before{

  content: "";
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px solid transparent;

  border-left:8px solid $color_arrow_1;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -6px;
}


.advancedscroller.skin-agata .arrowsCon > .arrow-left:hover, .arrow-left.skin-agata:hover,.advancedscroller.skin-agata .arrowsCon > .arrow-right:hover, .arrow-right.skin-agata:hover{
  background-color: $color_arrow_3;
}
/* -- END skin-agata */





/* -- skin-agata-inset */

.advancedscroller.skin-agata-inset{

  .thumbsClip > *{
    padding:0px;
  }
  $size_arrow: 40px;
  > .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{
    background-position:center center; background-repeat:no-repeat;
    background-image: url('img/skin-agapa-arrow-left.png');
    width:$size_arrow;
    height: 60px;
    position:absolute;
    left:0px;
    top:45%;
    margin-top:-30px;
    cursor:pointer;
    background-color: rgba(33,33,33,0.3);
    z-index:4;
    border-radius: 0 5px 5px 0;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  > .arrowsCon > .arrow-right{
    background-image: url('img/skin-agapa-arrow-right.png');
    left:auto;
    right:0px;
    top:45%;
    border-radius: 5px 0 0 5px;
  }

  > .arrowsCon > .arrow-left:hover, .arrowsCon > .arrow-right:hover{
    background-color: rgba(33,33,33,0.7);
  }

  .transition-fade .thumbsClip > *{
    opacity: 0;
    visibility: hidden;
  }
  .transition-fade .thumbsClip > *.currItem{
    opacity: 1;
    visibility: visible;
  }

  .bulletsCon{
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin:0;
    text-align: center;

    .bullet{
      width: 20px;
      height: 4px;
      border-radius: 3px;
      background-color: #4d4d4d;
      background-image: none;
    }

    .bullet.active{
      background-color: #00a99d;

    }
  }

}



/* -- skin-avanti-inset */

.advancedscroller.skin-avanti-inset, .advancedscroller.skin-bubble-inset{

  .thumbsClip > *{
    padding:0px;
  }
  $size_arrow: 40px;
  > .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{

    background-image: none;
    left:15px;
    top:45%;
    margin-top:-15px;
    opacity: 1;
  }
  > .arrowsCon > .arrow-right{
    background-image: none;
    left:auto;
    right:15px;
    top:45%;
    margin-top:-15px;
    width: auto;
  }
  $transition-property: all;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  > .arrowsCon > .arrow-left path, .arrowsCon > .arrow-right path{

    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }

  > .arrowsCon > .arrow-left:hover #Layer_1 path, .arrowsCon > .arrow-right:hover path{
    fill: #00a99d;
  }

  .transition-fade .thumbsClip > *{
    opacity: 0;
    visibility: hidden;
  }
  .transition-fade .thumbsClip > *.currItem{
    opacity: 1;
    visibility: visible;
  }

  .bulletsCon{
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin:0;
    text-align: center;

    .bullet{
      width: 20px;
      height: 4px;
      border-radius: 3px;
      background-color: #4d4d4d;
      background-image: none;
    }

    .bullet.active{
      background-color: #00a99d;

    }
  }

}


/* -- END skin-avanti-inset */


/* -- skin-qcre-inset */

.advancedscroller.skin-qcre{

  .thumbsClip > *{
    padding:0px;
  }
  $size_arrow: 40px;
  > .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{

    background-image: none;
    left:auto; right:0;
    top:auto; bottom: 0;
    margin-top:-0px;
    background-color: rgba(0,0,0,0.5);

    width: 30px;
    height: 30px;




    $transition-property: background;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing)

  }
  > .arrowsCon > .arrow-left:before, .arrowsCon > .arrow-right:before{


    content: "\f105";
    font-family: FontAwesome,sans-sarif;
    font-size: 30px;
    color: #fff;
    text-align: center;

    position: absolute;
    left: 50%; top: 50%;

    margin-top: -15px;
    margin-left: -5px;

    line-height: 1;
  }
  > .arrowsCon > .arrow-left:before{

    content: "\f104";
    margin-left: - 5px;
  }
  > .arrowsCon > .arrow-left{
    background-image: none;
    left:auto;
    right:30px;
    top:auto; bottom:0;
    margin-top:-0px;
  }

  > .arrowsCon > .arrow-left:hover , .arrowsCon > .arrow-right:hover {
    background-color: #e74c3c;
  }

  .transition-fade .thumbsClip > *{
    opacity: 0;
    visibility: hidden;
  }
  .transition-fade .thumbsClip > *.currItem{
    opacity: 1;
    visibility: visible;
  }

  .bulletsCon{
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin:0;
    text-align: center;

    .bullet{
      width: 20px;
      height: 4px;
      border-radius: 3px;
      background-color: #4d4d4d;
      background-image: none;
    }

    .bullet.active{
      background-color: #00a99d;

    }
  }

}


/* -- END skin-qcre-inset */

.advancedscroller.skin-bubble-inset{

  $size_arrow: 44px;
  > .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{

    background-image: none;
    left:50%;
    margin-left: -( $size_arrow / 2) - 5;
    top:auto;
    bottom: 10px;
    margin-top:-15px;
    opacity: 1;
    width: $size_arrow;
    height: $size_arrow;
  }
  > .arrowsCon > .arrow-right{
    background-image: none;
    left:50%;
    margin-left: ($size_arrow / 2) + 5;
    top:auto;
    bottom: 10px;
    margin-top:-15px;
  }


  > .arrowsCon > .arrow-left:hover #Layer_1 path, .arrowsCon > .arrow-right:hover path{
    fill: #fff;
  }
}

.advancedscroller.skin-giza{

  margin-bottom: 10px;
  padding-bottom: 30px;
  $size_arrow: 30px;
  > .arrowsCon > .arrow-left, .arrowsCon > .arrow-right{

    background-image: none;
    left:50%;
    margin-left: - ( $size_arrow ) - 5;
    top:auto;
    bottom: 0px;
    margin-top:-15px;
    opacity: 1;
    width: $size_arrow;
    height: $size_arrow;
  }
  > .arrowsCon > .arrow-right{
    background-image: none;
    left:50%;
    margin-left: 5px;
    top:auto;
    bottom: 0px;
    margin-top:-15px;
  }


  $transition-property: all;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  > .arrowsCon > .arrow-left circle, .arrowsCon > .arrow-right circle{

    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  > .arrowsCon > .arrow-left:hover #Layer_2 circle, .arrowsCon > .arrow-right:hover #Layer_2  circle{
    fill: #555555;
  }
  > .arrowsCon > .arrow-left:hover #Layer_4 circle, .arrowsCon > .arrow-right:hover #Layer_4  circle{
    stroke: #555555;
  }

}


.advancedscroller.skin-giza-bullets{


  .bulletsCon{

    margin-top: 15px;

    text-align: center;
    height: auto;

    span.bullet{
      $size_bullet: 14px;
      width: 12px;
      height: 12px;
      background-image: none;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #d1b97e;
      margin-right: 4px;
    }
    > span.bullet:last-child{
      margin-right: 0;
    }
    span.bullet.active{
      background-color: #d1b97e;
    }
  }

}

.advancedscroller.skin-nonav{
  .arrowsCon{
    display: none;
  }
}

.advancedscroller.skin-whitefish{
  .arrowsCon{
    display: none;
  }
  .bulletsCon{

    position: absolute;
    width: 100%;
    bottom: 10px;
    margin:0;
    text-align: center;
    height: auto;
    line-height: 1;

    span.bullet{
      width: 8px;
      height: 8px;
      background-image: none;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 4px;
    }
    > span.bullet:last-child{
      margin-right: 0;
    }
    span.bullet.active{
      background-color: #ffffff;
    }
  }
}

.advancedscroller.skin-whitefish.is-thicker{
  .bulletsCon{

    bottom: 28px;
    span.bullet{
      width: 10px;
      height: 10px;
      background-image: none;
      background-color: transparent;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-right: 4px;
    }
    > span.bullet:last-child{
      margin-right: 0;
    }
    span.bullet.active{
      background-color: #ffffff;
    }
  }
}


.dzsas-second-con{
  position: relative;
  overflow: hidden;


  @include boxsizing();

  width: 100%;
  padding: 10px 0;


  $transition-property: left;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  .dzsas-second-con--clip{
    position: relative;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    $transition-property: opacity,visibility;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    > *{
      position: absolute;
      top:0;left:0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }
    > *.active{
      opacity: 1;
      visibility: visible;
    }
  }
}



/* ====== caption styling mami

*/

.advancedscroller{

  .caption{
    position: absolute;
  }

  $transition-property: bottom;
  $transition-duration: 1.2s;
  $transition-timing: ease-out;

  $c_bg: rgba(230,230,230,0.9);
  .caption.skin-underlay{

    bottom:-70%;
    left:0;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight: 300;
    padding: 10px 10px;
    background: $c_bg;
    color: #111;
    @include apply_transition($transition-property, $transition-duration, $transition-timing)
  }
  .item.currItem .caption{
    bottom: 0;
  }


  .imagediv{
    display: block;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}



/* ====== misc

*/

$transition-property: background-color, color;
$transition-duration: 0.3s;
$transition-timing: ease-out-quart;
.giza-circle{
  border-radius: 50%;
  border: 4px solid #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  margin: 0 auto;

  box-shadow: 0 0 0 1px #e2e2e2;


  @include apply_transition($transition-property, $transition-duration, $transition-timing)
}


.social-meta-con{

  h4{

    color: inherit;
    float:left;
    margin-top:0;
    margin-bottom: 0;
  }
  .social-circle-con{
    float:right;
    margin-top: -4px;
  }
  h3{
    font-size: 30px;
    color: inherit;
    font-weight: 300;
    margin-top: 10px;
  }
}

.nicetext{
  color: #FFFFFF;
  font-style: italic;
  font-size: 17px;
  font-family: "Lato",arial, serif;
  line-height: 1.7;
}
.social-circle-con{

  position: relative;
  display: inline-block;
  margin-right: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;

  background-color: rgba(255,255,255,.1);
  > i{
    position: absolute;

    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #FFFFFF;

  }
}
.circle-con{
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  width: 110px;
  height: 110px;

  position: relative;


  img{
    position: absolute;
    top:50%; left: 50%;
    display: block;

    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
}


#parallax {position:absolute; top:0; left:0; width:100%; height:850px; overflow:hidden;z-index: 2; margin:0;
}
#parallax li {position:absolute; top:0; left:0;}
#parallax li.prl1 {background:url(bokeh/b1.png); width:2200px; height:800px;}
#parallax li.prl2 {background:url(bokeh/b2.png); width:2050px; height:600px;}
#parallax li.prl3 {background:url(bokeh/b3.png); width:2500px; height:700px;}
#parallax li.prl4 {background:url(bokeh/b4.png); width:1900px; height:700px;}



