.zfolio {
  position: relative;
  width: 100%; }
  .zfolio .grid-sizer {
    display: none; }
  .zfolio > .items {
    opacity: 0;
    min-height: 120px;
    -moz-transition-property: height;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: height;
    -o-transition-duration: 0.1s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: height;
    -ms-transition-duration: 0.1s;
    -ms-transition-timing-function: ease-out;
    transition-property: height;
    transition-duration: 0.1s;
    transition-timing-function: ease-out; }
  .zfolio > .items:after {
    content: "";
    display: block;
    clear: both; }
  .zfolio .zfolio-item {
    position: relative;
    margin-bottom: 30px; }
    .zfolio .zfolio-item > .overlay-anchor-extra-html {
      display: none; }
    .zfolio .zfolio-item > .cover-image {
      display: none; }
    .zfolio .zfolio-item .zoombox > .overlay-anchor-extra-html {
      display: none; }
    .zfolio .zfolio-item .zoombox > .cover-image {
      display: none; }
    .zfolio .zfolio-item .zfolio-item--inner {
      position: relative; }
      .zfolio .zfolio-item .zfolio-item--inner .the-feature-con {
        position: relative;
        height: 10px;
        -moz-transition-property: height;
        -moz-transition-duration: 0.1s;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-property: height;
        -webkit-transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-property: height;
        -o-transition-duration: 0.1s;
        -o-transition-timing-function: ease-out;
        -ms-transition-property: height;
        -ms-transition-duration: 0.1s;
        -ms-transition-timing-function: ease-out;
        transition-property: height;
        transition-duration: 0.1s;
        transition-timing-function: ease-out; }
        .zfolio .zfolio-item .zfolio-item--inner .the-feature-con .the-feature {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center; }
        .zfolio .zfolio-item .zfolio-item--inner .the-feature-con img.the-feature {
          position: relative;
          width: 100%;
          height: auto;
          display: block; }
        .zfolio .zfolio-item .zfolio-item--inner .the-feature-con .the-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .zfolio .zfolio-item .zfolio-item--inner .the-feature-con.auto-height {
        height: auto; }
    .zfolio .zfolio-item a.zfolio-item--inner {
      text-decoration: none; }
    .zfolio .zfolio-item .content-opener {
      cursor: pointer; }
    .zfolio .zfolio-item .the-content {
      display: none; }
  .zfolio .toexecute {
    display: none; }

.zfolio.dzszfl-ready .zfolio-preloader-1-con {
  opacity: 0;
  visibility: hidden; }

.zfolio.add-loaded-on-images-animation .zfolio-item .the-feature {
  opacity: 0; }
.zfolio.add-loaded-on-images-animation .zfolio-item.image-loaded .the-feature {
  opacity: 1; }

.zfolio.dzszfl-ready-for-transitions {
  -moz-transition-property: height;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out;
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }
  .zfolio.dzszfl-ready-for-transitions .the-feature-con {
    -moz-transition-property: height;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: height;
    -o-transition-duration: 0.15s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: height;
    -ms-transition-duration: 0.15s;
    -ms-transition-timing-function: ease-out;
    transition-property: height;
    transition-duration: 0.15s;
    transition-timing-function: ease-out; }

.zfolio.skin-qcre .zfolio-item .zfolio-item--inner {
  overflow: hidden; }
.zfolio.skin-qcre .zfolio-item .the-overlay {
  box-shadow: inset 0px 0px 0px 0px #e74c3c;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.zfolio.skin-qcre .zfolio-item .the-feature {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.zfolio.skin-qcre .zfolio-item .item-meta {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 23px;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  bottom: -50%;
  background-color: #e74c3c;
  pointer-events: none;
  -moz-transition-property: top, bottom, opacity, visibility;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: top, bottom, opacity, visibility;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: top, bottom, opacity, visibility;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: top, bottom, opacity, visibility;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out;
  transition-property: top, bottom, opacity, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }
  .zfolio.skin-qcre .zfolio-item .item-meta .the-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px; }
  .zfolio.skin-qcre .zfolio-item .item-meta .the-desc {
    font-size: 12px;
    font-style: italic;
    font-weight: 700; }
.zfolio.skin-qcre .zfolio-item:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 12px inset rgba(255, 255, 255, 0);
  border-right: 12px inset rgba(255, 255, 255, 0);
  border-top: 10px solid #e74c3c;
  border-bottom: 0;
  margin-left: -6px;
  visibility: hidden;
  opacity: 0;
  -moz-transition-property: visibility, opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: visibility, opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: visibility, opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: visibility, opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out;
  transition-property: visibility, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }
.zfolio.skin-qcre .zfolio-item.active .the-overlay {
  box-shadow: inset 0px 0px 0px 5px #e74c3c; }
.zfolio.skin-qcre .zfolio-item.active .item-meta {
  top: auto !important;
  bottom: -50% !important;
  opacity: 1;
  visibility: visible; }
.zfolio.skin-qcre .zfolio-item.active:before {
  visibility: visible;
  opacity: 1; }
.zfolio.skin-qcre .zfolio-item:hover .item-meta {
  top: auto;
  bottom: 0;
  opacity: 1;
  visibility: visible; }
.zfolio.skin-qcre .zfolio-item:hover .the-feature {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); }
.zfolio.skin-qcre .zfolio-item:hover .the-overlay {
  box-shadow: inset 0px 0px 0px 5px #e74c3c; }

.zfolio.skin-silver .zfolio-item .the-overlay {
  background-color: transparent;
  -moz-transition-property: background;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.zfolio.skin-silver .zfolio-item .item-meta {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  color: #FFFFFF;
  opacity: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  visibility: hidden;
  pointer-events: none;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in; }
  .zfolio.skin-silver .zfolio-item .item-meta .the-title {
    font-size: 30px;
    line-height: 1.4; }
  .zfolio.skin-silver .zfolio-item .item-meta .the-title:after {
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 11px auto 17px;
    -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: all;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-in;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in; }
  .zfolio.skin-silver .zfolio-item .item-meta .the-desc {
    font-size: 14px;
    font-weight: bold;
    font-style: italic; }
.zfolio.skin-silver .zfolio-item:hover .the-overlay {
  background-color: rgba(0, 0, 0, 0.7); }
.zfolio.skin-silver .zfolio-item:hover .item-meta {
  color: #FFFFFF;
  text-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  visibility: visible; }
.zfolio.skin-silver .zfolio-item.under-300 .the-title {
  font-size: 22px; }

/* -- just selector con
*/
.zfolio.skin-silver .selector-con .categories, .zfolio.skin-melbourne .selector-con .categories, .zfolio.skin-gazelia .selector-con .categories, .zfolio.skin-qcre .selector-con .categories {
  margin-top: 20px;
  margin-bottom: 20px; }
.zfolio.skin-silver .selector-con .a-category:first-child, .zfolio.skin-melbourne .selector-con .a-category:first-child, .zfolio.skin-gazelia .selector-con .a-category:first-child, .zfolio.skin-qcre .selector-con .a-category:first-child {
  margin-left: 20px; }
.zfolio.skin-silver .selector-con .a-category, .zfolio.skin-melbourne .selector-con .a-category, .zfolio.skin-gazelia .selector-con .a-category, .zfolio.skin-qcre .selector-con .a-category {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-left: 0px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px;
  line-height: 1;
  position: relative;
  color: #FFFFFF; }
.zfolio.skin-silver .selector-con .a-category.active, .zfolio.skin-silver .selector-con .a-category:hover, .zfolio.skin-melbourne .selector-con .a-category.active, .zfolio.skin-melbourne .selector-con .a-category:hover, .zfolio.skin-gazelia .selector-con .a-category.active, .zfolio.skin-gazelia .selector-con .a-category:hover, .zfolio.skin-qcre .selector-con .a-category.active, .zfolio.skin-qcre .selector-con .a-category:hover {
  background-color: #e74c3c; }
.zfolio.skin-silver .selector-con .a-category.active:before, .zfolio.skin-silver .selector-con .a-category:hover:before, .zfolio.skin-melbourne .selector-con .a-category.active:before, .zfolio.skin-melbourne .selector-con .a-category:hover:before, .zfolio.skin-gazelia .selector-con .a-category.active:before, .zfolio.skin-gazelia .selector-con .a-category:hover:before, .zfolio.skin-qcre .selector-con .a-category.active:before, .zfolio.skin-qcre .selector-con .a-category:hover:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #e74c3c;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px; }

.selector-con-for-skin-melbourne .categories {
  margin-top: 20px;
  margin-bottom: 20px; }
.selector-con-for-skin-melbourne .a-category:first-child {
  margin-left: 20px; }
.selector-con-for-skin-melbourne .a-category {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-left: 0px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px;
  line-height: 1;
  position: relative;
  color: #FFFFFF; }
.selector-con-for-skin-melbourne .a-category.active, .selector-con-for-skin-melbourne .a-category:hover {
  background-color: #e74c3c; }
.selector-con-for-skin-melbourne .a-category.active:before, .selector-con-for-skin-melbourne .a-category:hover:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #e74c3c;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px; }

.zfolio.skin-melbourne .zfolio-item .item-meta {
  position: relative;
  background-color: #FFFFFF;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lato", "Open Sans", arial;
  padding: 25px 10px;
  -moz-transition-property: color, background;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: color, background;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-property: color, background;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: color, background;
  -ms-transition-duration: 0.25s;
  -ms-transition-timing-function: ease-in;
  transition-property: color, background;
  transition-duration: 0.25s;
  transition-timing-function: ease-in; }
  .zfolio.skin-melbourne .zfolio-item .item-meta .the-title {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.4;
    margin-top: 5px; }
  .zfolio.skin-melbourne .zfolio-item .item-meta .the-title:after {
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    background-color: #aaaaaa;
    margin: 11px auto 11px;
    -moz-transition-property: background;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: background;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: background;
    -ms-transition-duration: 0.25s;
    -ms-transition-timing-function: ease-in;
    transition-property: background;
    transition-duration: 0.25s;
    transition-timing-function: ease-in; }
  .zfolio.skin-melbourne .zfolio-item .item-meta .the-desc {
    font-family: "Open Sans", arial;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #777777;
    -moz-transition-property: color;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: color;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: color;
    -ms-transition-duration: 0.25s;
    -ms-transition-timing-function: ease-in;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in; }
.zfolio.skin-melbourne .zfolio-item .item-meta:before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  -moz-transition-property: all;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-property: all;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: all;
  -ms-transition-duration: 0.25s;
  -ms-transition-timing-function: ease-in;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in; }
.zfolio.skin-melbourne .zfolio-item:hover .item-meta {
  background-color: #e74c3c;
  color: #FFFFFF; }
  .zfolio.skin-melbourne .zfolio-item:hover .item-meta .the-title:after {
    background-color: #FFFFFF; }
  .zfolio.skin-melbourne .zfolio-item:hover .item-meta .the-desc {
    color: #FFFFFF; }
.zfolio.skin-melbourne .zfolio-item:hover .item-meta:before {
  border-bottom-color: #e74c3c; }

.zfolio.skin-melbourne.layout-4-cols-15-margin:not(.under-720) .zfolio-item .the-title, .zfolio.skin-melbourne.layout-5-cols-15-margin:not(.under-720) .zfolio-item .the-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: -10px;
  margin-right: -10px; }
.zfolio.skin-melbourne.layout-4-cols-15-margin:not(.under-720) .zfolio-item .item-meta .the-desc, .zfolio.skin-melbourne.layout-5-cols-15-margin:not(.under-720) .zfolio-item .item-meta .the-desc {
  font-size: 13px; }

.zfolio.skin-melbourne.layout-5-cols-15-margin:not(.under-720) .zfolio-item .the-title {
  font-size: 12px;
  font-weight: bold;
  margin-left: -10px;
  margin-right: -10px; }
.zfolio.skin-melbourne.layout-5-cols-15-margin:not(.under-720) .zfolio-item .item-meta .the-desc {
  font-size: 11px; }

.zfolio.skin-gazelia .zfolio-item {
  margin-bottom: 10px; }
  .zfolio.skin-gazelia .zfolio-item .zfolio-item--inner {
    overflow: hidden; }
    .zfolio.skin-gazelia .zfolio-item .zfolio-item--inner .the-overlay {
      background-color: transparent;
      -moz-transition-property: background;
      -moz-transition-duration: 0.25s;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-property: background;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-out;
      -o-transition-property: background;
      -o-transition-duration: 0.25s;
      -o-transition-timing-function: ease-out;
      -ms-transition-property: background;
      -ms-transition-duration: 0.25s;
      -ms-transition-timing-function: ease-out;
      transition-property: background;
      transition-duration: 0.25s;
      transition-timing-function: ease-out;
      position: absolute; }
      .zfolio.skin-gazelia .zfolio-item .zfolio-item--inner .the-overlay .the-overlay-anchor {
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        width: 56px;
        height: 56px;
        background-color: #FFFFFF;
        border-radius: 50%;
        -moz-transition-property: top;
        -moz-transition-duration: 0.25s;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-property: top;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-property: top;
        -o-transition-duration: 0.25s;
        -o-transition-timing-function: ease-out;
        -ms-transition-property: top;
        -ms-transition-duration: 0.25s;
        -ms-transition-timing-function: ease-out;
        transition-property: top;
        transition-duration: 0.25s;
        transition-timing-function: ease-out; }
      .zfolio.skin-gazelia .zfolio-item .zfolio-item--inner .the-overlay .the-overlay-anchor:after {
        content: "\f067";
        font-family: "FontAwesome",arial, serif;
        color: #212121;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        font-size: 21px; }
  .zfolio.skin-gazelia .zfolio-item .item-meta {
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
    background-color: #FFFFFF;
    color: #212121;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lato", "Open Sans", arial;
    padding: 15px 10px;
    -moz-transition-property: top;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: top;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: top;
    -ms-transition-duration: 0.25s;
    -ms-transition-timing-function: ease-out;
    transition-property: top;
    transition-duration: 0.25s;
    transition-timing-function: ease-out; }
    .zfolio.skin-gazelia .zfolio-item .item-meta .the-title {
      font-size: 14px;
      font-weight: bold;
      font-family: "Lato", arial; }
    .zfolio.skin-gazelia .zfolio-item .item-meta .the-desc {
      font-family: "Open Sans", arial;
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
      color: #777777;
      -moz-transition-property: color;
      -moz-transition-duration: 0.25s;
      -moz-transition-timing-function: ease-in;
      -webkit-transition-property: color;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
      -o-transition-property: color;
      -o-transition-duration: 0.25s;
      -o-transition-timing-function: ease-in;
      -ms-transition-property: color;
      -ms-transition-duration: 0.25s;
      -ms-transition-timing-function: ease-in;
      transition-property: color;
      transition-duration: 0.25s;
      transition-timing-function: ease-in; }
  .zfolio.skin-gazelia .zfolio-item .item-meta:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    -moz-transition-property: all;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: all;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: all;
    -ms-transition-duration: 0.25s;
    -ms-transition-timing-function: ease-in;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in; }
.zfolio.skin-gazelia .zfolio-item:hover .zfolio-item--inner {
  overflow: hidden; }
  .zfolio.skin-gazelia .zfolio-item:hover .zfolio-item--inner .the-overlay .the-overlay-anchor {
    top: 50%; }
.zfolio.skin-gazelia .zfolio-item:hover .item-meta {
  color: #111111;
  bottom: auto;
  top: calc(100% - 55px); }
  .zfolio.skin-gazelia .zfolio-item:hover .item-meta .the-desc {
    color: #111111; }
.zfolio.skin-gazelia .zfolio-item:hover .the-overlay {
  background-color: rgba(0, 0, 0, 0.5); }

.zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item a.zfolio-item--inner {
  display: block; }
.zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item .zfolio-item--inner {
  overflow: hidden; }
  .zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item .zfolio-item--inner .the-overlay .the-overlay-anchor {
    background-color: transparent;
    border: 2px solid #EEEEEE; }
  .zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item .zfolio-item--inner .the-overlay .the-overlay-anchor:after {
    content: "\f002";
    color: #ffffff;
    font-size: 18px; }
.zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item .item-meta {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px; }
.zfolio.skin-gazelia.skin-gazelia--transparent .zfolio-item .item-meta:before {
  display: none; }

hr.small-white {
  width: 30px;
  height: 2px;
  display: block;
  background-color: #FFFFFF;
  margin: 20px auto; }

.zfolio-preloader-1 {
  width: 15px;
  height: 15px;
  background: rgba(230, 230, 230, 0.9);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*z-index: 5555;*/
  margin-left: -7px;
  margin-top: -7px;
  animation: zfolio-preloader-1-tween 1.4s infinite linear;
  -webkit-animation: zfolio-preloader-1-tween 1.4s infinite linear; }

.zfolio-preloader-1-con {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 50%;
  opacity: 1;
  visibility: visible;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }

.zfolio-preloader-1-con:before {
  content: ''; }

.zfolio-preloader-1:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 5px solid rgba(200, 200, 200, 0.5);
  border-bottom: 5px solid rgba(200, 200, 200, 0.5);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 25px;
  content: '';
  top: -10px;
  left: -10px;
  box-sizing: content-box !important; }

@-webkit-keyframes zfolio-preloader-1-tween {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@keyframes zfolio-preloader-1-tween {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
.zfolio.layout-2-cols-15-margin, .zfolio.layout-2-cols-10-margin {
  position: relative; }
  .zfolio.layout-2-cols-15-margin > .items, .zfolio.layout-2-cols-10-margin > .items {
    margin-left: -15px;
    margin-right: -15px; }
  .zfolio.layout-2-cols-15-margin .zfolio-item, .zfolio.layout-2-cols-10-margin .zfolio-item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

.zfolio.mode-cols.layout-2-cols-15-margin .dzs-col, .zfolio.mode-cols.layout-2-cols-10-margin .dzs-col {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }
  .zfolio.mode-cols.layout-2-cols-15-margin .dzs-col .zfolio-item, .zfolio.mode-cols.layout-2-cols-10-margin .dzs-col .zfolio-item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

.zfolio.layout-3-cols-15-margin, .zfolio.layout-3-cols-10-margin {
  position: relative; }
  .zfolio.layout-3-cols-15-margin > .items, .zfolio.layout-3-cols-10-margin > .items {
    margin-left: -15px;
    margin-right: -15px; }
  .zfolio.layout-3-cols-15-margin .zfolio-item, .zfolio.layout-3-cols-10-margin .zfolio-item {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px; }

.zfolio.mode-cols.layout-3-cols-15-margin .dzs-col, .zfolio.mode-cols.layout-3-cols-10-margin .dzs-col {
  float: left;
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px; }
  .zfolio.mode-cols.layout-3-cols-15-margin .dzs-col .zfolio-item, .zfolio.mode-cols.layout-3-cols-10-margin .dzs-col .zfolio-item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

.zfolio.layout-4-cols-15-margin {
  position: relative; }
  .zfolio.layout-4-cols-15-margin > .items {
    margin-left: -15px;
    margin-right: -15px; }
  .zfolio.layout-4-cols-15-margin .zfolio-item {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

.zfolio.mode-cols.layout-4-cols-15-margin .dzs-col, .zfolio.mode-cols.layout-4-cols-10-margin .dzs-col {
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px; }
  .zfolio.mode-cols.layout-4-cols-15-margin .dzs-col .zfolio-item, .zfolio.mode-cols.layout-4-cols-10-margin .dzs-col .zfolio-item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

.zfolio.layout-2-cols-10-margin > .items, .zfolio.layout-3-cols-10-margin > .items, .zfolio.layout-4-cols-10-margin > .items {
  margin-left: -5px;
  margin-right: -5px; }
.zfolio.layout-2-cols-10-margin .zfolio-item, .zfolio.layout-3-cols-10-margin .zfolio-item, .zfolio.layout-4-cols-10-margin .zfolio-item {
  padding-left: 5px;
  padding-right: 5px; }

.zfolio.mode-cols.layout-2-cols-10-margin .items, .zfolio.mode-cols.layout-3-cols-10-margin .items, .zfolio.mode-cols.layout-4-cols-10-margin .items {
  margin-right: -0px; }
.zfolio.mode-cols.layout-2-cols-10-margin .dzs-col, .zfolio.mode-cols.layout-3-cols-10-margin .dzs-col, .zfolio.mode-cols.layout-4-cols-10-margin .dzs-col {
  padding-left: 5px;
  padding-right: 5px; }

.zfolio.mode-cols.layout-5-cols-10-margin .items {
  margin-left: -5px;
  margin-right: -5px; }
.zfolio.mode-cols.layout-5-cols-10-margin .dzs-col {
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px; }
  .zfolio.mode-cols.layout-5-cols-10-margin .dzs-col .zfolio-item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

.zfolio.under-1000.layout-5-cols-10-margin div.zfolio-item {
  width: 33.33%; }

.zfolio.under-1000.layout-4-cols-15-margin .dzs-col, .zfolio.under-1000.layout-4-cols-10-margin .dzs-col {
  width: 33.33%; }

.zfolio.under-1000.mode-cols.layout-5-cols-10-margin .dzs-col {
  width: 33.333%; }

.selector-con-for-skin-melbourne.under-720 {
  z-index: 30; }

.zfolio.under-720.layout-2-cols-15-margin div.zfolio-item {
  width: 100%; }

.zfolio.under-720.layout-3-cols-15-margin div.zfolio-item, .zfolio.under-720.layout-4-cols-15-margin div.zfolio-item {
  width: 50%; }

.zfolio.under-720.layout-2-cols-15-margin .dzs-col, .zfolio.under-720.layout-2-cols-10-margin .dzs-col {
  width: 100%; }

.zfolio.under-720.layout-3-cols-15-margin .dzs-col, .zfolio.under-720.layout-3-cols-10-margin .dzs-col, .zfolio.under-720.layout-4-cols-10-margin .dzs-col, .zfolio.under-720.layout-4-cols-15-margin .dzs-col {
  width: 50%; }

.zfolio.under-520.layout-4-cols-15-margin .dzs-col, .zfolio.under-520.layout-4-cols-10-margin .dzs-col {
  width: 100%; }

.zfolio.under-720.zfolio-portfolio-fullscreen.layout-2-cols-15-margin div.zfolio-item {
  width: 50%; }

.zfolio.under-720 .categories, .selector-con-for-skin-melbourne.under-720 .categories {
  height: 72px;
  padding-top: 64px; }

.zfolio.under-720 .selector-con, .selector-con-for-skin-melbourne.under-720 {
  text-align: center; }
  .zfolio.under-720 .selector-con .a-category, .selector-con-for-skin-melbourne.under-720 .a-category {
    position: relative;
    display: block;
    background-color: #222222;
    color: rgba(255, 255, 255, 0.7);
    -moz-transition-property: color, opacity, visibilty;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: color, opacity, visibilty;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: color, opacity, visibilty;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: color, opacity, visibilty;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    transition-property: color, opacity, visibilty;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .zfolio.under-720 .selector-con .a-category:hover, .selector-con-for-skin-melbourne.under-720 .a-category:hover {
    background-color: #222222;
    color: white; }
  .zfolio.under-720 .selector-con .a-category:not(.active), .selector-con-for-skin-melbourne.under-720 .a-category:not(.active) {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0;
    opacity: 0;
    visibility: hidden; }
  .zfolio.under-720 .selector-con .a-category:not(.active):before, .selector-con-for-skin-melbourne.under-720 .a-category:not(.active):before {
    display: none; }
  .zfolio.under-720 .selector-con .a-category:not(.active) ~ .a-category, .selector-con-for-skin-melbourne.under-720 .a-category:not(.active) ~ .a-category {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 30px; }
  .zfolio.under-720 .selector-con div.a-category.active, .selector-con-for-skin-melbourne.under-720 div.a-category.active {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin-left: 0;
    margin-top: 0;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    background-color: #e74c3c !important;
    color: #FFFFFF !important; }

.zfolio.under-720 .selector-con.is-opened .a-category:not(.active), .selector-con-for-skin-melbourne.under-720.is-opened .a-category:not(.active) {
  opacity: 1;
  visibility: visible; }

.selector-con-for-skin-melbourne.under-720 {
  padding-left: 0;
  padding-right: 0; }
  .selector-con-for-skin-melbourne.under-720 .categories {
    padding-top: 0.1px;
    height: 51px; }
    .selector-con-for-skin-melbourne.under-720 .categories div.a-category.active {
      top: -1px; }
    .selector-con-for-skin-melbourne.under-720 .categories .a-category {
      transition-property: color, opacity, visibility !important; }

.zfolio.mode-cols.layout-5-cols-10-margin.under-720 .dzs-col {
  float: left;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px; }

.zfolio.under-520.layout-2-cols-15-margin div.zfolio-item, .zfolio.under-520.layout-3-cols-15-margin div.zfolio-item, .zfolio.under-520.layout-4-cols-15-margin div.zfolio-item, .zfolio.under-520.layout-5-cols-15-margin div.zfolio-item {
  width: 100%; }

.zfolio.layout-5-cols-15-margin {
  overflow: hidden;
  position: relative; }
  .zfolio.layout-5-cols-15-margin > .items {
    margin-left: -15px;
    margin-right: -15px; }
  .zfolio.layout-5-cols-15-margin .grid-sizer, .zfolio.layout-5-cols-15-margin .zfolio-item {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px; }
  .zfolio.layout-5-cols-15-margin .zfolio-item.layout-wide, .zfolio.layout-5-cols-15-margin .zfolio-item.layout-big {
    width: 40%; }

.zfolio.layout-5-cols-10-margin {
  overflow: hidden;
  position: relative; }
  .zfolio.layout-5-cols-10-margin .items {
    margin-left: -5px;
    margin-right: -5px; }
  .zfolio.layout-5-cols-10-margin .grid-sizer, .zfolio.layout-5-cols-10-margin .zfolio-item {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px; }
    .zfolio.layout-5-cols-10-margin .grid-sizer .zfolio-item.layout-wide, .zfolio.layout-5-cols-10-margin .grid-sizer .zfolio-item.layout-big, .zfolio.layout-5-cols-10-margin .zfolio-item .zfolio-item.layout-wide, .zfolio.layout-5-cols-10-margin .zfolio-item .zfolio-item.layout-big {
      width: 40%; }

.zfolio[data-margin="1"] {
  position: relative; }
  .zfolio[data-margin="1"] > .items {
    margin-left: -1px;
    margin-right: -1px; }
  .zfolio[data-margin="1"] .grid-sizer, .zfolio[data-margin="1"] .zfolio-item {
    padding-left: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    margin-bottom: 0px; }

.zfolio .dzs-colcontainer {
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }
.zfolio .dzs-colcontainer:after {
  display: block;
  content: "";
  clear: both; }
.zfolio *[class*="dzs-col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }
.zfolio .dzs-col-4 {
  width: 33.3%;
  padding-left: 15px;
  padding-right: 15px; }
.zfolio .dzs-col-8 {
  width: 66.6%;
  padding-left: 15px;
  padding-right: 15px; }
.zfolio .dzs-col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }
.zfolio .dzs-col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.zfolio.under-480 .dzs-col-4, .zfolio.under-480 .dzs-col-8, .zfolio.under-480 .dzs-col-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px; }

.excerpt-content-con {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 30px;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }

.zfolio[data-margin="1"] .excerpt-content-con {
  margin-bottom: 1px; }
.zfolio[data-margin="1"] .items > .excerpt-content-con .excerpt-content {
  margin-left: 1px;
  width: 100%; }
.zfolio[data-margin="1"] .zfolio-item:before {
  display: none; }
.zfolio[data-margin="1"] .excerpt-content > .dzs-colcontainer > .dzs-col-8 {
  width: calc(66.6% + 11px); }
.zfolio[data-margin="1"] .excerpt-content > .dzs-colcontainer > .dzs-col-4 {
  width: calc(33.3% - 11px); }

.excerpt-content {
  width: 100%;
  height: auto;
  color: #8a8a8a;
  background-color: #ebebeb;
  padding: 40px;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .excerpt-content .advancedscroller .thumbsCon {
    -moz-transition-property: height;
    -moz-transition-duration: 0s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: height;
    -o-transition-duration: 0s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: height;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-out;
    transition-property: height;
    transition-duration: 0s;
    transition-timing-function: ease-out; }
  .excerpt-content p {
    margin-bottom: 20px; }
  .excerpt-content h4 {
    margin-bottom: 20px; }
  .excerpt-content .simple-hr-with-mb-20 {
    height: 1px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    margin-bottom: 20px; }
  .excerpt-content a {
    color: #00a99d; }
  .excerpt-content .meta-prop-label {
    font-weight: 800;
    margin-right: 15px; }
  .excerpt-content .close-btn {
    font-size: 20px;
    font-weight: 500;
    font-family: "Raleway", Helvetica, Arial , sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }

.excerpt-content-con.transition-zoom .excerpt-content {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0); }
.excerpt-content-con.transition-zoom .excerpt-content.placed {
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform: translate3d(0, 0, 0) scale(1); }

.excerpt-content-con.transition-wipe {
  opacity: 0 !important;
  visibility: hidden !important;
  display: block; }
  .excerpt-content-con.transition-wipe iframe {
    opacity: 0; }
  .excerpt-content-con.transition-wipe .excerpt-content {
    height: 0;
    overflow: hidden !important;
    -moz-transition-property: none;
    -moz-transition-duration: 0s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: none;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: none;
    -o-transition-duration: 0s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: none;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-out;
    transition-property: none;
    transition-duration: 0s;
    transition-timing-function: ease-out; }

.excerpt-content-con.transition-wipe[data-sort] {
  display: block; }

.excerpt-content-con.placed.transition-wipe[data-sort] {
  opacity: 1 !important;
  visibility: visible !important; }
  .excerpt-content-con.placed.transition-wipe[data-sort] iframe {
    opacity: 1; }

.excerpt-content:after {
  display: block;
  clear: both;
  content: ""; }

.excerpt-content:before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 12px inset rgba(255, 255, 255, 0);
  border-right: 12px inset rgba(255, 255, 255, 0);
  border-bottom: 10px solid #ebebeb;
  border-top: 0; }

.excerpt-content.skin-qcre {
  padding: 0;
  background-color: #FFFFFF; }
  .excerpt-content.skin-qcre .close-btn {
    display: none; }
  .excerpt-content.skin-qcre h4 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #212121;
    line-height: 1;
    text-transform: uppercase; }
  .excerpt-content.skin-qcre .subtitle {
    font-style: italic;
    font-size: 14px;
    color: #e64c3b;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; }
  .excerpt-content.skin-qcre p {
    line-height: 1.5; }

.excerpt-content:before {
  display: none; }

img.lazyloading-transition-fade {
  opacity: 0;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }

img.lazyloading-transition-fade.loaded {
  opacity: 1; }

/*# sourceMappingURL=zfolio.css.map */
